
{% block card %}
{% load static %}
<script src="{% static "js/jquery-1.11.1.js" %}"></script>
<style>

    .text{
    padding:20px;
    width:200px;
    border: 1px solid gray;
    margin-left:200px;
    margin-top:200px;

    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Home Page</title>
</head>
<body>
<div class="text">
    <form  method="post" action="{% url 'home1' %}"  >{% csrf_token %}
        <center><h4>fiderlity</h4></center>
        <select id="my_sourse1" name="my_source1" >
            <option>--select--</option>
            <option value="db">DB</option>
            <option value="json">Json</option>
            <option value="file">file</option>
            <option value="file">Json</option>
            <option value="xml">XML</option>
        </select>
        <br>
        <br>
        <select id="my_sourse2" name="my_source2" >
            <option>--select--</option>
            <option value="db">DB</option>
            <option value="json">Json</option>
            <option value="file">file</option>
            <option value="file">Json</option>
            <option value="xml">XML</option>
        </select>
        <br>
        <br>
        <input type="submit" value="next">

    </form>

</div>
</body>
</html>

{% endblock  %}




<!--<script src="{% static "js/rango-jquery.js" %}"></script>-->