{% extends 'BlogApp\base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog.css' %}">

<body class="bg-light">

    <div class="container">
   <center> <h3>Form</h3> </center>
   <br />

    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <form id="workflow" method="POST">
        {% csrf_token %}
  <div class="form-group" >

    <label for="examplseInputEmail1">Name</label>

    <input type="text" class="form-control form-control-sm" name="name" id="name"  placeholder="Enter name" value="{{name_return}}">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea class="form-control form-control-sm" name="description" id="description"> </textarea>
  </div>
<div class="form-group">
<label >Step </label>

      <button id="appendStep" class="btn btn-primary btn-sm" style="float:right;"> Add Step</button>
      <br/>
  </div>
  <div class="form-group mydivStep">
      <div class="controls">
       <input type="text" class="form-control form-control-sm" id="stepid_0" name="step[]" required placeholder="Enter step" style="width:78%; display:inline;" onblur="addStep(this.id)">
       <a href="#"  style="display:inline;" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Remove</a>
      <a href="#" style="display:inline;" id="configBtn_0"  class="btn btn-warning btn-sm active myconfigure" role="button" aria-pressed="true">Configure</a>
      <br/>
      <br/>
      </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

      </div>
    <div class=col-sm-2></div>
    </div>
    </div>

    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

    <span class="close">&times;</span>
      <div style="height:400px; width:100%; overflow:scroll;">

<div class="container">
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="mainForm">
    <form id="workflowStepDetail" method="POST">
        {% csrf_token %}
  <div class="form-group">


    <label for="examplseInputEmail1">Step Name</label>
    <input type="text" name="stepName" id="stepname" class="form-control form-control-sm"  placeholder="Step name">
      <input type="hidden" name="foldername" id="foldername" class="form-control form-control-sm"  placeholder="Step name">
    <br>
    <label for="examplseInputEmail1">Step Type</label>
    <input type="text" name="stepType" id = "stepType" class="form-control form-control-sm"  placeholder="Step type">

  </div>
<div class="form-group">
<label >Operation Variable </label>

      <button id="append_Operation_Variable" class="btn btn-primary btn-sm" style="float:right;"> Add Step</button>
      <br/>
  </div>
  <div class="form-group mydiv">
      <div class="controls">
       <input type="text" name="OperationVariable[]" id="opvar_0" class="form-control form-control-sm" placeholder="Enter operation variable " style="width:89.5%; display:inline;" onblur="addOperationVariable(this.id)">  <a href="#"  style="display:inline;" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Remove</a>
      <br/>
          <br/>
      </div>
  </div>
        <div class="form-group">
<label >Reader </label>

      <button id="append_Reader" class="btn btn-primary btn-sm" style="float:right;"> Add Step</button>
      <br/>
  </div>
  <div class="form-group mydivReader">
      <div class="controls">
          <select name="Select_reader[]" id="reader_0" class="form-control form-control-sm" style="width:89.5%; display:inline;" onblur="addReader(this.id)">
    <option value="">Select reader</option>
    <option value="OracleDataRead(SOURCEIDENTIFIER,SOURCENAME,GETSOURCESQL)">OracleDataRead(SOURCEIDENTIFIER,SOURCENAME,GETSOURCESQL)</option>
    <option value="CSVDataRead(SOURCEIDENTIFIER,SOURCEFILENAME,FILEPATH)">CSVDataRead(SOURCEIDENTIFIER,SOURCEFILENAME,FILEPATH)</option>
    <option value="EXCELDataRead(SOURCEIDENTIFIER,SOURCEFILEPATH,PATTERN)">EXCELDataRead(SOURCEIDENTIFIER,SOURCEFILEPATH,PATTERN)</option>
    <option value="SftpRead(SOURCEREMOTESERVERNAME,SOURCEREMOTEPORTNO,SOURCEREMOTEUSERNAME,SOURCEREMOTEPASSWORD,SOURCELOCALFILEPATH,SOURCEREMOTEFILENAME)">SftpRead(SOURCEREMOTESERVERNAME,SOURCEREMOTEPORTNO,SOURCEREMOTEUSERNAME,SOURCEREMOTEPASSWORD,SOURCELOCALFILEPATH,SOURCEREMOTEFILENAME)</option>
    </select>
       <a href="#"  style="display:inline;" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Remove</a>
      <br/>
          <br/>
      </div>
  </div>
        <div class='form-group mydivReaderParam' id='rParamDiv_0'></div>
        <div class="form-group">
<label >Processor </label>

      <button id="append_Processor" class="btn btn-primary btn-sm" style="float:right;"> Add Step</button>
      <br/>

  </div>
  <div class="form-group mydivProcessor">
      <div class="controls">
       <select name="selectProcessor[]" id="processor_0" class="form-control form-control-sm" style="width:89.5%; display:inline;" onblur="addProcessor(this.id)">
    <option value="">Select processor</option>
    <option value="PythonDataProcessor(SCRIPTNAME,METHOD)">PythonDataProcessor(SCRIPTNAME,METHOD)</option>
    <option value="FileChecker(FOLDERPATH,PATTERN,SCHEDULESTOPPER)">FileChecker(FOLDERPATH,PATTERN,SCHEDULESTOPPER)</option>
    <option value="FILEMOVEPROCCESOR(SOURCEFILENAME,TARGETFILENAME,MOVETYPE,PATTERN)">FILEMOVEPROCCESOR(SOURCEFILENAME,TARGETFILENAME,MOVETYPE,PATTERN)</option>
    </select>  <a href="#"  style="display:inline;" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Remove</a>
      <br/>
          <br/>
      </div>
  </div>
        <div class='form-group mydivProcessorParam' id='pParamDiv_0'></div>
        <div class="form-group">
<label >Writer</label>

      <button id="append_Writer" class="btn btn-primary btn-sm" style="float:right;"> Add Step</button>
      <br/>

  </div>
  <div class="form-group mydivWriter">
      <div class="controls">
       <select name="selectWriter[]" id="writer_0" class="form-control form-control-sm" style="width:89.5%; display:inline;" onblur="addWriter(this.id)">
    <option value="">Select Writer</option>
    <option value="EXCELDATAWRITER(INPUTSOURCEFORWRITER,FILENAME,FILEPATH,SHEETNAME,HEADERREQUIRED)">EXCELDATAWRITER(INPUTSOURCEFORWRITER,FILENAME,FILEPATH,SHEETNAME,HEADERREQUIRED)</option>
    <option value="CSVDataWrite(INPUTSOURCEFORWRITER,TARGETFILENAME,TARGETDELIMITER,FILEPATH)">CSVDataWrite(INPUTSOURCEFORWRITER,TARGETFILENAME,TARGETDELIMITER,FILEPATH)</option>
    <option value="OracleDataWrite(INPUTSOURCE,TARGETNAME,TARGETTABLENAME,TARGETCOLUMNLIST)">OracleDataWrite(INPUTSOURCE,TARGETNAME,TARGETTABLENAME,TARGETCOLUMNLIST)</option>
    <option value="OracleDataDelInsert(INPUTSOURCE,TARGETNAME,TARGETTABLENAME,TARGETCOLUMNLIST,DELETEKEY)">OracleDataDelInsert(INPUTSOURCE,TARGETNAME,TARGETTABLENAME,TARGETCOLUMNLIST,DELETEKEY)</option>
    </select>  <a href="#"  style="display:inline;" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Remove</a>
      <br/>
          <br/>
      </div>
  </div>
        <div class='form-group mydivWriterParam' id='wParamDiv_0'></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

      </div>
    <div class=col-sm-2></div>
    </div>
    </div>


      </div>
  </div>

</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>

{% endblock %}